
NEXT_PUBLIC_APPWRITE_URL=https://cloud.appwrite.io/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=68b5dc85001e1d17d8ff
NEXT_PUBLIC_APPWRITE_DATABASE_ID=db
NEXT_PUBLIC_APPWRITE_STORAGE_ID=videos
NEXT_PUBLIC_APPWRITE_VIDEOS_COLLECTION_ID=videos
NEXT_PUBLIC_APPWRITE_PAYMENT_PROOFS_COLLECTION_ID=payment_proofs
NEXT_PUBLIC_APPWRITE_SITE_CONFIG_COLLECTION_ID=site_config
NEXT_PUBLIC_APPWRITE_PAYPAL_PAYMENTS_COLLECTION_ID=paypal_payments
NEXT_PUBLIC_APP_ENV=development

# Appwrite API Key (para migrações)
APPWRITE_API_KEY=standard_070a308f26e5e182e18b3df0499450b3e645e2afa936d9e129eb57e4e755aa356df4b672316b97db7407ad0f1c8247b9fa084a114a838d96e5c1bb3f389aae7510f13cf77b4fba5ebf436e09b57b84e4d11682effd609cf0be41344ac0021023dbe5755ea3ba875989344efa05dcdcf710e41dc8eeb166f7f3fbb725f8dc2428
